<h2 class="text-3xl font-bold my-3">Crear Hotel</h2>

<div class="grid grid-cols-3 gap-6">
  <div class="col-span-2 flex flex-col bg-white rounded relative ">
    <div class="bg-blue-600 p-3 rounded-t ">
      <h2 class="text-white font-bold">Información básica</h2>
    </div>
    <form action="" class="flex flex-col p-6">
      <label for="name">Nombre</label>
      <input type="text" id="name">
      <label for="location" class="block mb-2">Escoge una ubicación</label>
      <select id="location" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded p-2">
        <option selected>Escoge una ubicación</option>
        <option *ngFor="let location of locations" value={{location.id}}>{{location.city}}, {{location.country}}</option>
      </select>
      <label for="starts">Estrellas</label>
      <input type="text" id="starts">
      <label for="description">Descripción</label>
      <textarea name="description" id="description" cols="30" rows="10"></textarea>
    </form>
  </div>
  <div class="col-span-1 bg-white rounded">
    <input type="file" name="" id="">

  </div>
</div>
