
<h2 class="text-3xl font-bold my-3">Hoteles</h2>
<div class="grid grid-cols-3 gridcolo gap-6">
  <div class="relative overflow-x-auto rounded col-span-2 bg-white p-6">
    <div class="rounded border overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 ">
          <thead class="text-xs text-white uppercase bg-blue-600">
              <tr>
                  <th scope="col" class="px-6 py-3">
                      Nombre
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Ubicación
                  </th>
                  <th scope="col" class="px-6 py-3">
                      # Habitaciones
                  </th>
                  <th scope="col" class="px-6 py-3">
                      Estado
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr class="bg-white border-b">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                      Hotel Casa Dorada
                  </th>
                  <td class="px-6 py-4">
                      Bogotá
                  </td>
                  <td class="px-6 py-4">
                      43
                  </td>
                  <td class="px-6 py-4">
                      Activo
                  </td>
              </tr>
              <tr class="bg-white border-b ">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                      Doña Pepa
                  </th>
                  <td class="px-6 py-4">
                      Cartagena
                  </td>
                  <td class="px-6 py-4">
                      124
                  </td>
                  <td class="px-6 py-4">
                      Activo
                  </td>
              </tr>
              <tr class="bg-white">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                      Palma Resort
                  </th>
                  <td class="px-6 py-4">
                      Cartagena
                  </td>
                  <td class="px-6 py-4">
                      222
                  </td>
                  <td class="px-6 py-4">
                      Inactivo
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
    <button type="button"
      class="text-white flex ml-auto
        bg-blue-600 hover:bg-blue-700 font-medium rounded text-sm px-4 py-2 mt-4">
      Agregar Hotel
    </button>

  </div>
  <div>
    <div class="bg-white rounded ">
      <img class="rounded rounded-b-none w-full" src="https://www.ahstatic.com/photos/b471_ho_00_p_1024x768.jpg" alt="" srcset="">
      <div class="px-4 pt-2 flex flex-col">
        <h2 class="text-black font-bold text-xl my-2 mb-0">Hotel Casa Dorada ⭐⭐⭐⭐</h2>
        <a class="text-blue-700 font-bold" href="">Bogotá, Colombia</a>
        <p class="mt-2 text-gray-600">Esta es la descripción de un hotel random Lorem ipsum dolor sit amet consectetur adipiscing elit dis tincidunt at senectus </p>
        <h2 class="font-bold mt-3">Servicios</h2>
        <div class="grid grid-cols-2 mb-2">
          <div>🌬️Aire acondicionado</div>
          <div>🍴Desayuno</div>
          <div>🚗Parqueadero</div>
        </div>
        <button type="button"
          class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded text-sm px-4 py-2 my-4">
          Editar Hotel
      </button>
      </div>
    </div>
  </div>
</div>
