
<div class="relative overflow-x-auto rounded">
  <table class="w-full text-sm text-left text-gray-500 ">
      <thead class="text-xs text-white uppercase bg-blue-600">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Nombre
              </th>
              <th scope="col" class="px-6 py-3">
                  Ubicación
              </th>
              <th scope="col" class="px-6 py-3">
                  # Habitaciones
              </th>
              <th scope="col" class="px-6 py-3">
                  Estado
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  Hotel Casa Dorada
              </th>
              <td class="px-6 py-4">
                  Bogotá
              </td>
              <td class="px-6 py-4">
                  43
              </td>
              <td class="px-6 py-4">
                  Activo
              </td>
          </tr>
          <tr class="bg-white border-b ">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                  Doña Pepa
              </th>
              <td class="px-6 py-4">
                  Cartagena
              </td>
              <td class="px-6 py-4">
                  124
              </td>
              <td class="px-6 py-4">
                  Activo
              </td>
          </tr>
          <tr class="bg-white">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  Palma Resort
              </th>
              <td class="px-6 py-4">
                  Cartagena
              </td>
              <td class="px-6 py-4">
                  222
              </td>
              <td class="px-6 py-4">
                  Inactivo
              </td>
          </tr>
      </tbody>
  </table>
  <button type="button"
    class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded text-sm px-4 py-2 mt-4">
    Agregar Hotel
  </button>

</div>
